footer {
  padding: 0 5rem;
  height: 5.625rem;
  background-color: var(--blue-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
footer ul {
  display: flex;
  width: 15rem;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}
footer li a {
  color: var(--white);
}
footer li:hover a {
  color: var(--red);
}

footer > div:nth-child(1) {
  width: 34.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > div:nth-child(2) {
  width: 5.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social {
  background-color: transparent !important;
  border: unset;
}

@media (max-width: 768px) {
  footer {
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }
  footer > div:nth-child(1) {
    flex-direction: column;
    gap: 3rem;
  }
  footer ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
