.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.75rem 2.375rem;
}
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 26.5rem;
}

.ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 0;
}
