.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6rem 0 3rem;
  align-items: center;
}
.text {
  max-width: 35rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.ul {
  max-width: 35rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hr {
  height: 2px;
  background-color: var(--grey);
  width: 100%;
}
